@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #313131
}
:root * {
  box-sizing: border-box;
}
a body {
  margin: 0;
}

@layer components {
  @media (min-width: 980px) {
    .innerWidth {
      max-width: 980px;
      margin: auto;
    }
  }

  .level-btn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid rgba(92, 92, 92, 0.171)
  }
  .level-btn.selected {
    border: 1px solid rgb(255, 169, 169);
    background-color: rgba(255, 169, 169, 0.103);
  }
  .level-btn:hover {
    background-color: rgba(255, 169, 169, 0.103);
  }


  .jp-font {
    font-family:  Inter;
  }

}
