@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root * {
  box-sizing: border-box;
}
a body {
  margin: 0;
}

@layer components {
  @media (min-width: 980px) {
    .innerWidth {
      max-width: 980px;
      margin: auto;
    }
  }

  #search-bar {
    width: 75%;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.137);
  }

  #search-bar:focus-visible {
    outline: 1px solid #bfdbfe;
  }
  .level-btn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
  .level-btn.selected  { 
    border: 1px solid rgb(157, 196, 255);
  }
}
